.footer__main{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 30px;
}

.footer__main .footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 950px;
    padding: 2px 20px;
}

.footer__main .footer div{
    font-size: .6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}